<div class="line1 container"></div>
<ul class="nav container">
  <li class="nav-item">
    <a class="nav-link active" href="#">Videos</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="#">/</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">People</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="#">/</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Documents</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="#">/</a>
  </li>
  <li class="nav-item">
    <a class="nav-link " href="#" tabindex="-1" >Events</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="#">/</a>
  </li>
  <li class="nav-item">
    <a class="nav-link " href="#" tabindex="-1" >Communities</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="#">/</a>
  </li>
  <li class="nav-item">
    <a class="nav-link " href="#" tabindex="-1" >Favorites</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="#">/</a>
  </li>
  <li class="nav-item">
    <a class="nav-link " href="#" tabindex="-1" >Channels</a>
  </li>
</ul>
<div class="line2 container"></div>
